<section class="banner">
  <div class="container">
    <h1 class="banner__title">Авторский курс<br/>по пересадке<br/>волос</h1>                
    <p class="banner__description"><span></span>Вам не нужно ехать в Грузию, стоимость обучения для врачей и ассистентов. обучения для врачей и ассистентов.</p>  
    <div class="banner__more-info">
      <span>Подробнее о курсе</span>
      <svg class="banner__icon">
        <use xlink:href="img/sprite.svg#array-up"></use>
      </svg>
    </div>
    <div class="banner__picture">
      <img class="banner__img" src="img/banner.jpg" alt="picture" /> 
    </div>
    <p class="banner__description banner__description--center">Обучение по трансплантации волос включает все аспекты - теорию и практику.По окончанию обучения выдается сертификат</p>   
  </div>              
</section>