<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Hair&Skin</title>
  <link rel="preload" href="fonts/HeraclitoRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/HeraclitoMedium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/HeraclitoSemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/HeraclitoLight.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
  <script defer src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script defer src="js/main.js"></script>
</head>
