<header class="header">
  <div class="container">
    <div class="header__inner">
      <button class="header__phone">+7 (495) 181-18-02</button>
      <div class="header__logo">
        <img src="img/logo-icon.png" alt="logo" class="header__logo-icon">
        <img src="img/logo-text.png" alt="logo" class="header__logo-text">
      </div>
      <div class="header__btn-group">
        <button class="header__call">
          <svg class="header__call-icon">
            <use xlink:href="img/sprite.svg#call"></use>
          </svg>
        </button>                
        <button class="header__btn">Оставить заявку</button>
        <button class="header__burger">
          <span></span>
          <span></span>
        </button>
      </div>
    </div>                         
  </div>
</header>
