

<aside class="side-menu sideMenuRegister-js">
  
  <div class="side-menu__inner side-menu__inner--register">
    <span class="side-menu__close-btn close-register-js">
      <img class="side-menu__close-svg" src="img/svg/close.svg" alt=""/>
    </span>
    <h6 class="side-menu__title">Записаться на обучение</h6>
    <p class="side-menu__description">Оставьте заявку на обучение, и с Вами свяжется менеджер </p>
    <div class="side-menu__form">
      <form action="" class="footer__form-group">
        <div class="footer__form-control">
          <input type="text" class="footer__form-input" placeholder="Имя Фамилия">
        </div>
        <div class="footer__form-control">
          <input type="text" class="footer__form-input" placeholder="Телефон">
        </div>
        <label for="ok" class="footer__form-label">
          <input type="checkbox" id="ok">
          <span class="footer__form-box">
            <svg class="footer__form-box-icon">
              <use xlink:href="img/sprite.svg#check-input"></use>
            </svg>
          </span>
          <span>Я принимаю условия <span style="color:#f2f2f2;">Политики конфиденциальности</span></span>
        </label>
        <button class="footer__form-submit">Записаться на обучение</button>
      </form>
    </div>
  </div>
</aside>                 