
<aside class="side-menu sideMenu-js">
   <div class="side-menu__inner">
    <span class="side-menu__close-btn">
     <img class="side-menu__close-svg" src="img/svg/close.svg" alt=""/>
    </span>
    <ul class="side-menu__list">
     <li class="side-menu__list-item">
       <a class="side-menu__list-link">О курсе</a>
     </li>
     <li class="side-menu__list-item">
       <a class="side-menu__list-link">Портфолио</a>
     </li>
     <li class="side-menu__list-item">
       <a class="side-menu__list-link">Отзывы</a>
     </li>
     <li class="side-menu__list-item">
       <a class="side-menu__list-link">Блог</a>
     </li>
     <li class="side-menu__list-item">
       <a class="side-menu__list-link">Контакты</a>
     </li>
    </ul>
    <div class="side-menu__phone">+7 (495) 181-18-02</div>
    <div class="side-menu__address">Москва, ул. Остоженка 25 метро Парк культуры</div>
    <div class="side-menu__nav-list">
    <a href="" class="side-menu__nav-link"><img class="side-menu__nav-icon" src="img/svg/social3.svg" alt=""></a>
     <a href="" class="side-menu__nav-link"><img class="side-menu__nav-icon" src="img/svg/social1.svg" alt=""></a>
     <a href="" class="side-menu__nav-link"><img class="side-menu__nav-icon" src="img/svg/social2.svg" alt=""></a>
     <a href="" class="side-menu__nav-link"><img class="side-menu__nav-icon" src="img/svg/social4.svg" alt=""></a>
    </div>
   </div>
</aside>                 