// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";



.main-h2 {
  color: 6rem;
  font-size: 3rem;
  font-family: $font_Heraclito;
  font-weight: 200;
}